html, body{
    font-size: 62.5%;
    height: 100%;
    margin: 0 auto;
    background: @backgroundColor;
    width: 100%;
}

nav{
    font-size: 5rem;
}

section{
    height: 100%;
    background: yellow;
}

h1{
    font-size: @fontSize6;
}

h2{
    font-size: @fontSize5;
}

h3{
    font-size: @fontSize4;
}

h4{
    font-size: @fontSize3;
}

h5{
    font-size: @fontSize2;
}

h6{
    font-size: @fontSize1;
}

button{
    font-size: @fontSize1;
}

p{
    font-size: @fontSize1;
}

