section{
    padding: 2% 0%;
    background: @backgroundColor;

    .aboutMeContent{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0% auto;
        width: 75%;
    }
}