section{
    padding: 10% 0% 5% 0%;
    background: @backgroundColor;

    .aboutMeContent{
        display: flex;
        margin: 0% auto;
        width: 65%;
        border: 3px outset black;

        .bio{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            padding: 5%;

            p{
                font-style: italic;
                text-align: center;
            }

            .contactIcons{
                margin-top: 10%;
                display: flex;
                justify-content: space-between;
                width: 33%;
            }
        }
    }

    .portfolioContent{
        display: flex;
        flex-flow: column wrap;
        margin: 0% auto;
        width: 75%;

        .project{
            border: 2px solid black;
            margin: 2% 0%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .image{
                width: 50%;

                img{
                    width: 100%;
                    padding: 1%;
                }
            }

            .description{
                width: 40%;

                h3{
                    padding-bottom: 3%;
                }
            }
        }
    }


}


