section{
    padding: 10% 0% 5% 0%;
    background: @backgroundColor;

    .aboutMeContent{
        display: flex;
        margin: 0% auto;
        width: 65%;
        border: 3px outset black;

        .bio{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            padding: 5%;

            p{
                font-style: italic;
                text-align: center;
            }

            .contactIcons{
                margin-top: 10%;
                display: flex;
                justify-content: space-between;
                width: 33%;
            }
        }
    }


}


